# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
build

# Node modules
node_modules

# OS files
.DS_Store

#email tests
sendTestEmail.ts
sendLeaderboardFixToAll.ts
sendHappyNewYearToAll.ts
testLeaderboardAnnouncement.ts

happyNewYear2026.ts
leaderboardFixAnnouncement.ts